.infrastructure__title {
  text-align: center;
  margin-bottom: var(--gap-section);
}

.infrastructure__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.infrastructure__item {
  text-align: left;
}

.infrastructure__placeholder {
  aspect-ratio: 16/6;
  /* min-height: 180px; */
  margin-top: 1rem;
  background: var(--color-bg-alt);
  border: 2px solid var(--color-primary);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.infrastructure__placeholder-text {
  font-size: var(--text-small);
  color: var(--color-text-muted);
}

.infrastructure__item-title {
  margin: 0;
  font-size: var(--text-h3);
}
